<header>
  <svg
    style="fill: var(--accent-color); position: absolute; top: 0; z-index: -1; min-width: 200%; overflow: hidden"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
    <path
      fill-opacity="1"
      d="M0,256L80,224C160,192,320,128,480,101.3C640,75,800,85,960,117.3C1120,149,1280,203,1360,229.3L1440,256L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"
    ></path>
  </svg>
  <div class="padding--lg">
    <p class="h3">
      <a href="/" class="no-style-link">
        <span class="">Laura Gabrielle</span><br />
      </a>
      <small class="bg-main">
        Web designer & developer
      </small>
    </p>
    {% include "navigation.njk" %}
  </div>
</header>
