---
layout: layouts/baseof.njk
title: Web Design & Development by Laura Gabrielle
---

<article class="padding--lg container">
  <div class="stack">
    <div class="grid-container--auto   padding--lg    bg-main">
      <div class="measure--sm ">
        <p class="h2 font--light">
          From your first inspiration, to your first succeses...
        </p>
        <h1>
          I build custom websites that
          <span class="bg-accent">elevate</span> your brand, business, or
          product
        </h1>
        <p>
          I am a web designer and developer specializing in
          <span class="bg-accent"
            >fast, SEO-friendly, and mobile-friendly websites</span
          >
          using <a href="#jamstack">JAMStack</a> technology and best practices.
        </p>
        <p>
          I am currently available to work on new projects.
        </p>
        <a href="#contact" class="anchor--button">Hire me!</a>
        <a href="#portfolio" class="anchor--button"
          >See Some Projects I've Worked On</a
        >
      </div>
      <div class="padding--lg    bg-accent   card">
        {% include "person-whiteboard-svg.html" %}
      </div>
    </div>
    <div class="grid-container--auto    padding--lg    bg-accent">
      <div>
        <h2>About me</h2>
        <p>Briefly, some of my favorite parts of web design and development:</p>
        <ul class="list-group bg-main padding--lg card">
          <li>Increasing Site Speed & Performance></li>
          <li>Developing Sites Straightforward & Usable</li>
          <li>
            Creating Unique, Elegant Designs, tailored to your brand or product
          </li>
        </ul>

        <p>
          I graduated from California State University, Long Beach in 2014 with
          a degree in Psychology, a program where I first began learning the
          basics of design and development.
        </p>
        <p>
          In the time I've worked as a developer, I've done my best to create
          accessible, mobile-friendly websites that provide highly usable,
          custom experiences tailored to your brand.
        </p>
        <h3 class="h2">My skills</h3>
        <ul class="">
          <li class="">Search Engine Optimization (SEO)</li>
          <li>Optimizing Website Performance</li>
          <li class="">
            Crafting content, including:
            <ul>
              <li>Writing</li>
              <li>Basic graphic & logo design</li>
              <li>Color-schemes & typography</li>
            </ul>
          </li>
        </ul>
        <p>
          Please <a href="#contact" class="anchor">contact me</a> if you'd like
          to hire me to work on a project.
        </p>
      </div>
      <div>
        <div class="padding--lg">
          {% include "contact-envelope-svg.html" %}
        </div>
        {% include "sidebar.njk" %}
      </div>
    </div>
    <div class="" id="portfolio">
      <h2 class="h1">
        <span class="text--bg-line--primary">
          Projects I've Worked On
        </span>
      </h2>
      <ul class="list-group    stack">
        {% for item in collections.portfolio %}
        <li class="portfolio__card    ">
          <div class="portfolio__card__header   ">
            <img
              data-src="{{ item.data.image.source }}"
              alt="{{ item.data.image.alt }}"
              class="portfolio__card__img    lazy-load"
              width="100%"
            />
          </div>
          <div class="portfolio__card__body     bg-accent   ">
            <h3 class="h2   portfolio__card__title">
              {{ item.data.title }}
            </h3>
            {{ item.templateContent | safe }}
            <a href="{{ item.data.link }}" class="anchor--button">Live Site</a>
            <a href="{{ item.data.repo }}" class="anchor--button"
              >&lt; Code /&gt;</a
            >
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</article>
